---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find our articles on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal Article</h2>
<ol reversed>
  <li><strong>Chen, G.</strong>, Jaselskis, E., Tamer, A., and Folz, A., (2025). <a href="https://doi.org/10.1061/JCCEE5.CPENG-6754" target="_blank"> “Supporting Generative AI Literacy: Exploring the Pedagogical Roles Students Assign ChatGPT and Impact on Course Grades.”</a> Journal of Computing in Civil Engineering, 40(2), 04025151.
  </li>
  <li>Diaz, B., <strong>Chen, G.</strong>, Delgado, C., and Jaselskis, E. (2025). 
    <a href="https://doi.org/10.5281/zenodo.15993999" target="_blank"> “Supporting Generative AI Literacy: Exploring the Pedagogical Roles Students Assign ChatGPT and Impact on Course Grades.”</a>
    Comunicar, 33(82), 46–61.
  </li>
  <li>Shafaay, M., Alqahtani, F. K., Alsharef, A., and <strong>Chen, G.</strong> (2025). 
    <a href="https://doi.org/10.1080/13467581.2025.2481242" target="_blank"> "Modeling construction cost overrun risks at the FEED stage for mining projects using PLS-SEM."</a> 
    Journal of Asian Architecture and Building Engineering, 1–17.
  </li>
  <li><strong>Chen, G.</strong>, Alsharef, A., Ovid, A., Albert, A., and Jaselskis, E. (2025). 
    <a href="https://doi.org/10.1016/j.aei.2024.103068" target="_blank">“Meet2Mitigate: An LLM-powered framework for real-time issue identification and mitigation from construction meeting discourse.”</a> 
    Advanced Engineering Informatics, 64: 103068.
  </li>
  <li><strong>Chen, G.</strong>, Alsharef, A., and Jaselskis, E. (2024). 
    <a href="https://doi.org/10.3390/s24206603" target="_blank">“Construction Jobsite Image Classification Using an Edge Computing Framework.”</a> 
    Sensors, 24 (20): 6603.
  </li>
  <li><strong>Chen, G.</strong>, M. Liu, H. Li, S. M. Hsiang, and A. Jarvamard. (2023). 
    <a href="https://doi.org/10.1061/JMENEA.MEENG-5428" target="_blank">“Motivating Reliable Collaboration for Modular Construction – A Shapley Value-Based Smart Contract.”</a> 
    Journal of Management in Engineering, 39 (6): 04023042. (Editor’s Choice)
  </li>
  <li><strong>Chen, G.</strong>, M. Liu, Y. Zhang, Z. Wang, S. M. Hsiang, and C. He. (2023). 
    <a href="https://doi.org/10.1061/JMENEA.MEENG-5121" target="_blank">“Using Images to Detect, Plan, Analyze, and Coordinate a Smart Contract in Construction.”</a> 
    Journal of Management in Engineering, 39 (2): 1–18.
  </li>
  <li>He, C., M. Liu, Y. Zhang, Z. Wang, S. M. Hsiang, <strong>Chen, G.</strong>, W. Li, and G. Dai. (2023). 
    <a href="https://doi.org/10.1061/JMENEA.MEENG-4991" target="_blank">“Space-Time-Workforce Visualization and Conditional Capacity Synthesis in Uncertainty.”</a> 
    Journal of Management in Engineering, 39 (2): 04022071.
  </li>
  <li><strong>Chen, G.</strong>, H. Li, M. Liu, S. M. Hsiang, and A. Javanmardi. (2022). 
    <a href="https://doi.org/10.1139/cjce-2021-0649" target="_blank">“Knowing what is going on – a smart contract for modular construction.”</a> 
    Canadian Journal of Civil Engineering, 50 (3): 210–223. (Invited paper)
  </li>
  <li>He, C., M. Liu, Y. Zhang, Z. Wang, S. M. Hsiang, <strong>Chen, G.</strong>, and J. Chen. (2022). 
    <a href="https://doi.org/10.1061/(ASCE)ME.1943-5479.0001037" target="_blank">“Exploit Social Distancing in Construction Scheduling: Visualize and Optimize Space–Time–Workforce Tradeoff.”</a> 
    Journal of Management in Engineering, 38 (4): 1–15.
  </li>
</ol>


<h2>Conference Article</h2>
<ol reversed>
  <li><strong>Chen, G.</strong>, Pedraza, M., Albaloul, R., Albert, A., and Jaselskis, E. (2025). “Developing a Fit-for-Purpose Best Practice Knowledge Handbook using Generative AI.” CSCE Construction Specialty Conference / ASCE Construction Research Congress (CRC) 2025 (Accepted).
  </li>
  <li><strong>Chen, G.</strong>, and Liu, Y. (2025). “Leveraging Large Language Models for Voice-Activated Robotic Teleoperation in Construction.” ASCE International Conference on Computing in Civil Engineering 2025 (Accepted).
  </li>
  <li>Mapare, V., Liu, Y., Zheng, D., and <strong>Chen, G.</strong> (2025). “Enhancing the Worker-Robot Interaction for Construction Task Operation: A Preliminary Study Using Large Language Model-based Methods.” ASCE International Conference on Computing in Civil Engineering 2025 (Accepted).
  </li>
  <li><strong>Chen, G.</strong>, Alsharef, A., and Jaselskis, E. (2024). “Enabling Real-Time AI Applications in Construction Site Safety: A Novel Edge Computing Approach for Nails Detection Under Resource-Constrained Environment.” ASCE International Conference on Computing in Civil Engineering 2024 (Accepted).
  </li>
  <li><strong>Chen, G.</strong>, Alsharef, A., and Jaselskis, E. (2024). “Integrating Sensor-Empowered Federated Learning and Smart Contracts for Automatic Sustainable Infrastructure Management.” ASCE International Conference on Computing in Civil Engineering 2024 (Accepted).
  </li>
  <li><strong>Chen, G.</strong>, C. He, S. Hsiang, M. Liu, and H. Li. (2023). “A mechanism for smart contracts to mediate production bottlenecks under constraints.” 31st Annual Conference of the International Group for Lean Construction (IGLC). Lille, France. 
  </li>
  <li>Li, H., <strong>Chen, G.</strong>, M. Liu, S. M. Hsiang, and A. Jarvamardi. (2023). “Situation awareness based smart contract for modular construction.” Proceedings of the Canadian Society of Civil Engineering Annual Conference 2021, 363–373. Singapore: Springer Nature Singapore. (Best Student Paper for Awardee: Gongfan Chen).
  </li>
  <li>He, C., M. Liu, Z. Wang, <strong>Chen, G.</strong>, Y. Zhang, and S. M. Hsiang. (2022). “Facilitating Smart Contract in Project Scheduling under Uncertainty—A Choquet Integral Approach.” Construction Research Congress 2022, 930–939.
  </li>
</ol>
